
{{! Facebook and Twitter use the administration panel }}
{{! Remove "brackets" to use and replace the # for each href value with your own profile links}}
{{! <a href="#"><i class="google-plus"></i></a> }}
{{! <a href="#"><i class="tumblr"></i></a> }}
{{! <a href="#"><i class="vimeo"></i></a> }}
{{! <a href="#"><i class="slack"></i></a> }}
{{! <a href="#"><i class="instagram"></i></a> }}
{{! <a href="#"><i class="linkedin"></i></a> }}
{{! <a href="#"><i class="behance"></i></a> }}
{{! <a href="#"><i class="dribbble"></i></a> }}
{{! <a href="#"><i class="bitbucket"></i></a> }}
{{! <a href="#"><i class="github"></i></a> }}
{{! <a href="#"><i class="youtube"></i></a> }}
{{! <a href="#"><i class="flickr"></i></a> }}
{{! <a href="#"><i class="pinterest"></i></a> }}
{{! <a href="#"><i class="medium"></i></a> }}
{{! <a href="#"><i class="vk"></i></a> }}
{{! <a href="#"><i class="twitch"></i></a> }}
{{! <a href="#"><i class="soundcloud"></i></a> }}
{{! <a href="#"><i class="snapchat"></i></a> }}
{{! <a href="#"><i class="reddit"></i></a> }}
{{! <a href="/rss"><i class="feed"></i></a> }}